@import './helpers/margin.scss';
@import './helpers/padding.scss';
@import './helpers/text.scss';

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin:0;
  padding:0;
  line-height: 1.5;
  background-color: #242933;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.btn-about {
  border: 1px solid #ff8906;
  color: #fffffe;
  transition: all 0.3s ease;
  &:hover {
    border: 1px solid #ff8906;
    background-color: #ff8906;
  }
}

// .slide-left-enter,
// .slide-right-leave-active {
//   opacity: 0;
//   transform: translate(30px, 0);
// }
// .slide-left-leave-active,
// .slide-right-enter {
//   opacity: 0;
//   transform: translate(-30px, 0);
// }

.page-enter-active, .page-leave-active {
  transition: opacity .5s
}
.page-enter, .page-leave-active {
  opacity: 0
}


.card-about {
  background-color: #2e3440;
}

.card-skills{
  background-color: #3B4252;
}

.footer {
  background-color: #3B4252;
}
