@import './helpers/margin.scss';
@import './helpers/padding.scss';
@import './helpers/text.scss';
@import './helpers/font.scss';

:root {
  --primary: #ff8906;
  --bg-primary: #242933;
  --bg-secondary: #3B4252;
  --bg-card: #2e3440;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin:0;
  padding:0;
  line-height: 1.5;
  background-color: var(--bg-primary);
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.btn-about {
  border: 1px solid var(--primary);
  color: #fffffe;
  transition: all 0.3s ease;
  &:hover {
    border: 1px solid var(--primary);
    background-color: var(--primary);
  }
}

.page-enter-active, .page-leave-active {
  transition: opacity .5s
}
.page-enter, .page-leave-active {
  opacity: 0
}


.card-about {
  background-color: var(--bg-card);
}

.card-skills{
  background-color: var(--bg-secondary);
}

.footer {
  background-color: var(--bg-secondary);
}
